.message{data: {id:message.id}}
  .message-info
    %p.messenger-name 
      = message.user.name
    %p.post-date
      = message.created_at.strftime("%Y/%m/%d %H:%M")
  %p.main-post-message
    - if message.body.present?
      = message.body
  %p.main-post-image
    - if message.image.present?
      = image_tag message.image.url, class: 'image'